<a href="https://colab.research.google.com/github/MarvelousAlex/Python_Data_Analysis/blob/main/06_Operators_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators Part 1

## Notes

* **Operators** are used to perform operations on variables and values.
* In this notebook we'll go over the following operator groups:
  * Arithmetic operators
  * Assignment operators
  * Comparison operators
* There are more operators but we'll go over that in a bit.

## Importance

Arithmetic operators are essential for calculations, assignment operators for updating data, and comparison operators for filtering, all crucial for data analysis in libraries like Pandas and Matplotlib.

## Types of Operators

### Arithmetic Operators

Arithmetic operators are used with objects (mainly numeric ones) to perform math operations:

| Operator | Name           | Example |
|----------|----------------|---------|
| +        | Addition       | x + y   |
| -        | Subtraction    | x - y   |
| *        | Multiplication | x * y   |
| /        | Division       | x / y   |
| %        | Modulus        | x % y   |
| **       | Exponentiation | x ** y  |
| //       | Floor division | x // y  |

#### Some operations can be performed on non-numeric values

In [1]:
"What's UP??" * 10

"What's UP??What's UP??What's UP??What's UP??What's UP??What's UP??What's UP??What's UP??What's UP??What's UP??"

In [2]:
"What's up" - "up"  # we don't have this

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [6]:
"What's ".__add__("up")

"What's up"

#### Numbers: But let's actually talk about the stuff you came here for

In [11]:
2**6

64

#### Floor Division

In [12]:
5 // 2

2

In [13]:
5 % 2

1

In [14]:
print("5 divided by 2 is", 5 // 2, "with a remainder of", 5 % 2)

5 divided by 2 is 2 with a remainder of 1

#### Order of Operations

1. **Parentheses**: Anything in parentheses is executed first
2. **Exponents**: Operations involving exponents (including roots, indicated as fractional exponents)  
3. **Multiplication and Division**: Processed from left to right
4. **Addition and Subtraction**: Also processed from left to right

In [20]:
min_salary = 20_000
max_salary = 80_000

average_salary = (min_salary + max_salary) / 2

f'{average_salary: .2f}'

' 50000.00'

### Assignment Operators

Assignment operators are used to assign values to variables.

| Operator | Name                | Example |
|----------|---------------------|---------|
| =        | Assign              | x = y   |
| +=       | Add and assign      | x += y  |
| -=       | Subtract and assign | x -= y  |
| *=       | Multiply and assign | x *= y  |
| /=       | Divide and assign   | x /= y  |
| %=       | Modulus and assign  | x %= y  |
| **=      | Exponent and assign | x **= y |
| //=      | Floor divide and assign | x //= y  |

In [21]:
x = 1
y = 2

x, y = y, x # swap values

print("x is now: ", x)
print("y is now: ", y)

x is now:  2
y is now:  1

#### Add and Assign

In [24]:
x = 1
x += 2

x

3

### Comparison Operators

Comparison operators compare two values and determine the relation between them.

| Operator | Name                  | Example |
|----------|-----------------------|---------|
| ==       | Equal to              | x == y  |
| !=       | Not equal to          | x != y  |
| >        | Greater than          | x > y   |
| <        | Less than             | x < y   |
| >=       | Greater than or equal | x >= y  |
| <=       | Less than or equal    | x <= y  |

In [25]:
1 == 1

True

In [26]:
salary_kelly = 50_000
salary_luke = 50_000

# Are Luke and Kelly's salaries the same?
salary_checker = (salary_kelly == salary_luke) # parantheses are optional

salary_checker

True

In [27]:
type(salary_checker)

bool